In [1]:
import pandas as pd
from operator import itemgetter
from sklearn.model_selection import train_test_split

In [2]:
#open up our raw data
#make a list with column 0 as IDs and column 1 as phrases
dictionary = []
split_index = 0
id = 0
phrase = ""
with open("./data/raw/stanford/dictionary.txt", "r") as f:
    for line in f:
        split_index = line.index("|")
        phrase = line[:split_index]
        #phrase = phrase.lower()
        id = int(line[split_index+1:])
        dictionary.append([id, phrase])

#need to sort dictionary numerically by ID
dictionary_sorted = sorted(dictionary, key=itemgetter(0))

#make a list with column 0 as IDs and column 1 as sentiment label and then sort
sentiment_labels = []
label = 0.0
with open("./data/raw/stanford/sentiment_labels.txt", "r") as f:
    for line in f:
        split_index = line.index("|")
        id = int(line[:split_index])
        label = float(line[split_index+1:])
        sentiment_labels.append([id, label])

In [3]:
#combine it all into one list
combined = []
for i in range(len(dictionary_sorted)):
    combined.append([dictionary_sorted[i][0], sentiment_labels[i][1], "a", dictionary_sorted[i][1]])

In [4]:
#turn them into pd DataFrames
df = pd.DataFrame(combined)
df_train, df_dev = train_test_split(df, test_size=0.01)
df_train.head()

             0        1  2                                                  3
207931  207931  0.50000  a  of pre-9 \ \/ 11 New York and onto a cross-cou...
101900  101900  0.47222  a                        's so prevalent on The Rock
163441  163441  0.20833  a   is that they 're watching a 76-minute commercial
147742  147742  0.23611  a  None of the characters or plot-lines are flesh...
104109  104109  0.48611  a                                             Alarms

In [5]:
#get DataFrames into .tsv
df_train.to_csv('./bert/data/train.tsv', sep='\t', index=False, header=False)
df_dev.to_csv('./bert/data/dev.tsv', sep='\t', index=False, header=False)