In [1]:
import pandas as pd
from operator import itemgetter
from sklearn.model_selection import train_test_split

In [2]:
#open up our raw data
#make a list with column 0 as IDs and column 1 as phrases
dictionary = []
split_index = 0
id = 0
phrase = ""
with open("./data/raw/stanford/dictionary.txt", "r") as f:
    for line in f:
        split_index = line.index("|")
        phrase = line[:split_index]
        id = int(line[split_index+1:])
        dictionary.append([id, phrase])

#need to sort dictionary numerically by ID
dictionary_sorted = sorted(dictionary, key=itemgetter(0))

#make a list with column 0 as IDs and column 1 as sentiment label and then sort
sentiment_labels = []
label = 0.0
with open("./data/raw/stanford/sentiment_labels.txt", "r") as f:
    for line in f:
        split_index = line.index("|")
        id = int(line[:split_index])
        label = float(line[split_index+1:])
        sentiment_labels.append([id, label])

In [3]:
#combine it all into one list
combined = []
for i in range(len(dictionary_sorted)):
    combined.append([dictionary_sorted[i][0], sentiment_labels[i][1], "a", dictionary_sorted[i][1]])

In [4]:
#turn them into pd DataFrames
df = pd.DataFrame(combined)
df_train, df_test = train_test_split(df, test_size=0.2)

df_train, df_dev = train_test_split(df_train, test_size=0.01)
df_train.head()

             0        1  2                                     3
135222  135222  0.50000  a                            the extent
126287  126287  0.50000  a                   long as 3-year-olds
133467  133467  0.55556  a       stuffs his debut with more plot
177881  177881  0.33333  a       well-acted but dangerously slow
149010  149010  0.50000  a  Taken purely as an exercise in style

In [5]:
#format test DataFrame
df_test = df_test.drop(df_test.columns[[1, 2]], axis=1)
df_test.head()

             0                                                  3
61358    61358  's virtually impossible to like any of these d...
113173  113173                            about memory and regret
12816    12816                  wait for your pay per view dollar
48337    48337                          a remote seacoast in Iran
50362    50362                                  computerized Yoda

In [6]:
#get DataFrames into .tsv
df_train.to_csv('./data/train.tsv', sep='\t', index=False, header=False)
df_dev.to_csv('./data/dev.tsv', sep='\t', index=False, header=False)
df_test.to_csv('./data/test.tsv', sep='\t', index=False, header=False)